# Distribution / packaging
build/
dist/
*.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp

# VSCode
.vscode/

# pyenv
.python-version

# mypy
.mypy_cache/

# pytest
.pytest_cache
